server {
    listen 80;
    server_name {{ ansible_fqdn | default(ansible_hostname) }};

    # Optionally, restrict access with allowed IPs:
    # allow 192.168.1.0/24;
    # deny all;

    location /github_key {
        alias /var/www/keys/id_ecdsa_keyserver.pub;  # or adjust if you serve a different file
        default_type text/plain;
    }

    location /bootstrap.sh {
      alias /var/www/html/bootstrap.sh;
      default_type text/plain;
    }
}
