network:
  version: 2
  renderer: networkd
  ethernets:
    "{{ network_interface }}":
      dhcp4: no
      addresses:
        - {{ static_ip }}/{{ netmask }}
      routes: 
        - to: default
          via: {{ gateway }}
      nameservers:
        addresses:
          - {{ dns_primary }}
          - {{ dns_secondary }}
